{% extends 'mysite/base_auth.html' %}

{% block content %}


<div class="sidenav">
     <div class="login-main-text">
               <h1 class="display-4 font-italic"><a href="/" class="text-decoration-none">ReallySite</h1></a>
         </div>
      </div>

      <div class="main">
         <div class="col-md-12 col-sm-24">
            <div class="login-form">
               <form method="POST">
               {% csrf_token %}
                  <div class="form-group">
                     <label>Email</label>
                     <input type="text" class="form-control" placeholder="email" name="{% if 'login' in request.path %}username{% elif 'signup' in request.path %}email{% endif %}"> </div>
                  <div class="form-group">
                     <label>Password</label>
                     <input type="password" class="form-control" placeholder="Password" name="password">
                  </div>
                  <button type="submit" class="btn btn-black">
                     {% if 'login' in request.path %}
                        Login
                     {% elif 'signup' in request.path %}
                        Signup
                     {% endif %}
                  </button>
               </form>
                     {% if 'login' in request.path %}
                        <a class="p-2 text-center link-secondary" href="/signup/">登録はこちら</a>
                     {% elif 'signup' in request.path %}
                        <a class="p-2 text-center link-secondary" href="/login/">ログインはこちら</a>
                     {% endif %}
            </div>
         </div>
      </div>
</div>
{% endblock %}
