<!doctype html>
<html lang="ja">

<head>
    {% include 'mysite/snippets/head.html' %}
</head>

<body>

    {# ヘッダー部 #}
    {% include 'mysite/snippets/header.html' %}
    {# メッセージ(ログイン成功時etc)#}
    {% include 'mysite/snippets/messages.html' %}
    {# ボディ部 #}
    {% block content %}
    <h1>Base.htmlです</h1>
    {% endblock %}
    {# フッター部 #}
    {% include 'mysite/snippets/footer.html' %}

</body>

</html>