<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!doctype html>
<html lang="ja">

{% load static %}
<head>
    {% include 'mysite/snippets/head.html' %}
    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href={% static 'css/login.css' %}>

</head>

<body class="vh-100 d-flex align-items-center justify-content-center bg-light">

    <!--ボディ部-->
    {% block content %}
    {% endblock %}
    <!--フッター部-->

</body>

</html>