{% extends 'mysite/base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-8">
        <h3 class="pb-4 mb-4 font-italic border-bottom">
            問い合わせページ
        </h3>

        <form class="row g-3" method="POST">
            {% csrf_token %}
            <div class="col-12">
                <label class="form-label">名前</label>
                <input type="text" class="form-control" id="id_username" name="name" placeholder="name" >
            </div>
            <div class="col-12">
                <label class="form-label">メールアドレス</label>
                <input type="email" class="form-control" id="id_email" name="email" placeholder="メールアドレス" >
            </div>

            <div class="col-12">
                <label class="form-label">問い合わせ内容</label>
                <textarea name="content" class="form-control" rows="4"> </textarea>
            </div>


            <div class="col-12">
              <button type="submit" class="btn btn-primary">送信</button>
            </div>
          </form>

        </div>

        {% include 'mysite/snippets/sidebar.html' %}

    </div>
</main>


{% endblock %}