{% extends 'mysite/base.html' %}

{% block content %}
<main class="container">
   <div class="row">
        <div class="col-md-8 mb-4">
        <h3 class="pb-4 mb-4 font-italic border-bottom display-5">
          Pay demo
        </h3>

        <form method="POST">
          {% csrf_token %}

          {% if charge %}
          <p>ブランド : {{ charge.card.brand }}</p>
          <p>****-****-****-{{ charge.card.last4 }}</p>
          {% endif %}

          <script type="text/javascript"
          src="https://checkout.pay.jp"
          class="payjp-button"
          data-key="{{ public_key }}">
          </script>



        </form>

        {% include 'mysite/snippets/sidebar.html' %}
    </div>

</main>

{% endblock %}