{% extends 'mysite/base.html' %}

{% block content %}

{% load cache %}

<main class="container">
    <div class="row">
        <div class="col-md-8">
            {# 記事ページ #}
            {% cache 86400 article article.id %}
            <h3 class=" font-italic border-bottom display-4">
                {{article.title}}
            </h3>
            <p class="small text-muted text-right">{{article.created_at}} {{article.author}}</p>
            <div class="my-5">{{article.text}}</div>

            {% endcache %}
            <div class="my-5">
                {% include 'mysite/snippets/pr_in_article.html' %}
            </div>
            {# いいね/タグ #}
            <div>
                {% include 'mysite/snippets/like_count.html' %}
                {% include 'mysite/snippets/tag.html' %}
            </div>

            <hr class="my-4">
            {% include 'mysite/snippets/comment.html' %}

        </div>

        {% include 'mysite/snippets/sidebar.html' %}

   </div>
</main>
{% endblock %}