<div class="container">
    <header class="py-3">
        <div class="row flex-nowrap justify-content-center align-item-center">
            <div class="col-4 text-center">
                <h1 class="display-4 font-italic"><a href="/" class="text-decoration-none">ReallySite</h1></a>
            </div>
        </div>
    </header>
    <div class="py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            <a class="p-2 link-secondary" href="/blog/">ブログ</a>
            <a class="p-2 link-secondary" href="/contact/">お問い合わせ</a>
            {# ログイン選択部分#}
            {% if user.is_authenticated %}
            <div>
                <a class="p-2 text-center link-secondary" href="/logout/">ログアウト</a>
                <a class="p-2 text-center link-secondary" href="/mypage/">マイページ</a>
            </div>
            {% else %}
            <div>
                <a class="p-2 text-center link-secondary" href="/login/">ログイン</a>
                <a class="btn btn-outline-info" href="/signup/">新規登録</a>
            </div>
            {% endif %}
        </nav>
    </div>
</div>

