  <form method="POST" class="d-inline">
      {% csrf_token %}
      {#like_count要のボタンを作成 value与えないと値が来てないと判断されるので注意 #}
      <input type="hidden" name="like_count" value="true">
      <button type="submit" class="btn btn-sm btn-outline-warning">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lightning-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"/>
          </svg>
          {{ article.count }} good
      </button>
  </form>