<label>プロフィール画像</label>

<label id="id_image_label" for="id_image">
  <!-- default upload -->
  <div id="no_image" class="{% if user.profile.image != '' %}d-none{% endif %} border rounded-circle bg-light" style="width:150px; height:150px;">
    <div class="m-auto p-4">
      <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-cloud-upload" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z"/>
        <path fill-rule="evenodd" d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3z"/>
      </svg>
    </div>
  </div>

  {# 画像がある場合は表示 d-noneクラスを用いて画像の非表示を制御 #}
  <img id="image_preview" class="{% if user.profile.image == '' %}d-none{% endif %} border rounded-circle" style="width: 150px; height:150px; object-fit; cover;" src="https://storage.googleapis.com/really-site/{{ user.profile.image }}" >

</label>

{# 画像アップデート部 #}
<div class="d-none">
  {#画像部分が変化時、previewImage関数を実行#}
  <input type="file" accept="image/*" id="id_image" name="image" onchange="previewImage(this)">
</div>

{# 画像プレビュー #}

<script>
  function previewImage(elem){
    // HTML5で追加されたファイル入出力用の新規クラスを使用
    var fileReader = new FileReader();
    // FileReaderがtrueを返す = ファイル読み込み成功時に以下のfunctionを実行
    fileReader.onload = (function(){
      // 指定したIDタグの物に対し、d-noneクラスの消去を実行。
      document.getElementById("image_preview").classList.remove("d-none");
      document.getElementById("no_image").classList.add("d-none");
      // 中身データを取得しimage_previewタグのsrcにセット
      document.getElementById("image_preview").src = fileReader.result;
    });
    fileReader.readAsDataURL(elem.files[0]);
  }

</script>