{% load static %}
{% load cache %}

{% cache 86400 sidebar%}
<aside class="col-md-4">
    <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">
            ふじサンについて
        </h4>
        <p class="mb-0">ようこそMy講座へ！</p>
    </div>

    <figure class="figure">
        <img class="figure-img img-fluid rounded"
        src = "{% static 'mysite/link-img.jpg' %}">
        <figcaption class="figure-caption text-center font-italic small">
            <span class="text-muted"> 花の画像</span>
        </figcaption>
    </figure>


    <figure class="figure">
        <img class="figure-img img-fluid rounded"
        src = "{% static 'mysite/img2.jpg' %}">
        <figcaption class="figure-caption text-center font-italic small">
            <a class="text-muted" href="https://pixabay.com/ja/users/saydung89-18713596/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5960112">Piyapong Saydaung</a>による<a class="text-muted" href="https://pixabay.com/ja/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5960112">Pixabay</a>からの画像
        </figcaption>
    </figure>
<

    <figure class="figure">
        <img class="figure-img img-fluid rounded"
        src = "{% static 'mysite/img1.jpg' %}">
        <figcaption class="figure-caption text-center font-italic small">
            <a class="text-muted" href="https://pixabay.com/ja/users/erik_karits-15012370/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=6405362">Erik Karits</a>による<a class="text-muted" href="https://pixabay.com/ja/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=6405362">Pixabay</a>からの画像
        </figcaption>
    </figure>
</aside>

{% endcache %}